page-list {
    .bar-button ,
    .toolbar-title {
        color: white;
		text-shadow: black 0.1em 0.1em 0.2em;
    }
    .content {
        color: white;
    }
    .data {
        position: absolute;
        top: 5%;
        width: 100%;
        text-align: center;
    }
    .detalhe {
        position: absolute;
        bottom: 10%;
        left: 5%;
    }
    .detalhe2 {
        position: relative;
        //bottom: 5%;
        //left: 5%;
        
        h2 {
            position: absolute;
            bottom: 5%;
            left: 5%;
            text-shadow: black 0.1em 0.1em 0.2em
        }
        h6 {
            position: absolute;
            bottom: 15%;
            left: 5%;
            text-shadow: black 0.1em 0.1em 0.2em
        }
    }

    .scroll-content {
        padding-top: 0 !important; 
    }
    h1, h2, h6 {
        margin: 0;
    }
    h2 {
        font-size: 2.0rem;
    }
    h6 {
        font-size: 1.3rem;
    }
    img {
        margin: 0 auto -4px;
        z-index:-1;
    }
}
