page-home {
	ion-icon {
		color: #fff;
	}
	[icon-only] ion-icon {
		font-family: Archivo;
		font-weight: bold;
	}
	.slides {
		height: 40%;
	}
	.toolbar-background {
		background: transparent;
	}
	.toolbar {
		position: absolute;
	}
	.bar-button {
		font-size: 0.6rem;
	}
	.scroll-content {
		overflow: hidden;
	}
	.Rectangle-3 {
		width: 100%;
		height: 20%;
		position: relative;
		background-image: linear-gradient(to top, #f03232, #690d0d);
	}
	h1 {
		font-family: Arvo;
		font-size: 2.5rem;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		margin: 0;
		color: white;
		top: 34.4%;
		width: 100%;
		text-align: center;
		position: absolute;
	}
	ion-slide h2 {		
		bottom: 9.8%;
	}
	p {
		font-family: Archivo;
		font-size: 0.875rem;
		font-weight: bold;
		color: white;
		position: absolute;
		bottom: 0%;
		left: 6.4%;
	}
	h2 {
		margin: 0;
		font-family: Archivo;
		font-size: 1.5rem;
		font-weight: bold;
		color: white;
		position: absolute;
		left: 6.1%;
	}

	.Sombra-Padro {
		width: 100%;
		height: 40%;
		position: relative;
		background: radial-gradient(circle at 50% 100%, transparent 78%, rgba(0,0,0,0.43)), url('../assets/img/e01.png') no-repeat center /cover;
		h2 {
			top: 7.4%;
		}
	}
	.swiper-pagination-bullet-active {
		background: color($colors, primary2);
	}
}