page-home {
    .card-header {
        font-weight:  bold;
    }

    .des{
        background-color: rebeccapurple;
        
    }
    
    .esp{
        background-color: #DAD0ED;
    }
    
    .col > img {
        width: auto;
        height: auto;
    }

    .card-hour{
        display: absolute;
    }
}