page-home {
    .card-header {
        font-weight:  bold;
    }

    .des{
        background-color: rebeccapurple;
    }

    .esp{
        background-color: #DAD0ED;
    }

    .descard{
        
    }
}